**
!package.json
!package-lock.json
!tsconfig.json
!LICENSE
!src/
!src/index.ts
!src/server.ts
!src/service.ts
!scripts/
!scripts/bootstrap-locked.py
!tests/
!tests/*.test.ts
!apify/
!apify/*.ts
!apify/tsconfig.json
!apify/README.md
!apify/README.fr.md
!.actor/
!.actor/Dockerfile
!.actor/actor.json
!.actor/input_schema.json
!.actor/web_server_schema.json
